## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(pow(7,4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s="Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

In [3]:
sh="Hi there dad!"
sh.split()

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [7]:
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

Tuples are immutable but list are muttable.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [10]:
def domainGet(email):
    return email.split('@')[-1]

domainGet('user@domain.com')

'domain.com'

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [11]:
def IsDog(st):
    return 'dog' in st.lower().split()

TextDog=input()
print(IsDog(TextDog))

findDog('Is there a dog here?')
True

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [14]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

name=input()
print(countDog(name))

findDog('Is there a dog here?')
1

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [16]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

Big Ticket

In [17]:
speed,birthday=100,True
print(caught_speeding(speed,birthday))

Big Ticket

In [18]:
speed,birthday=67,True
print(caught_speeding(speed,birthday))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [24]:
emp=["jaga","box","boxer","ram","balu"]
salary=[60000,120000,10000,17500,55000]
print("salary")
for i in range(5):
  print(emp[i],":",salary[i])
print("\ntotal salary expenditure")
print("Total expenditure per person is : ",sum(salary)//5)

salary
jaga : 60000
box : 120000
boxer : 10000
ram : 17500
balu : 55000

total salary expenditure
Total expenditure per person is :  52500

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [25]:
dixt1={"Empid":12,"Empname":"Rahul","Basicpay":750000}
dixt2={"DeptName":"CSE","DeptId":196}
dixt1.update(dixt2)
print(dixt1)

{'Empid': 12, 'Empname': 'Rahul', 'Basicpay': 750000, 'DeptName': 'CSE', 'DeptId': 196}